<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Grise Voting</title>
    <link rel ="stylesheet" href ="https://stackpath.bootstrapcdn.com / bootstrap / 4.4.1 / css / bootstrap.min.css"
        integrity ="sha384-Vkoo8x4CGsO3 + Hhxv8T / Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin ="anonymous">

      <!-- Latest JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- Tether - a requirement for Bootstrap tooltips -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>`

  <!-- Your stuff: Third-party javascript libraries go here -->
  <script src="{% static 'web3auth/js/web3auth.js' %}"></script>
  {{ block.super }}
  <script>
    function ready(fn) {
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    ready(function () {
        if (window.ethereum) {
            web3 = new Web3(window.ethereum);
            try {
                window.ethereum.enable().then(function () {
                    // User has allowed account access to DApp...
                    promise = web3.eth.getAccounts(function (error, accounts) {
                        console.log(accounts[0], 'current account on init');
                        return accounts[0]
                    });
                    promise.then(function (account) {
                        $.ajax({
                            url: '{% url 'verification' %}',
                            type: 'POST',
                            data: JSON.stringify({'address': account}),
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if(data.balance > 0){
                                    $('.disabled').removeClass('disabled');
                                }
                            }
                        });
                        return true;
                    });
                });
            } catch (e) {
                alert('Please Connect MetaMsk !');
                // User has denied account access to DApp...
            }
        } else {
            alert('You have to install MetaMask !');
        }
    });
  </script>
<style>
    a.disabled {
    pointer-events:none;
}

</style>
</head>
<body>
<div class="content">
    <h2 class="home_text">Welcome to</h2>
    <h1>Grise Finance</h1><hr _ngcontent-pka-c62="" class="hr_css">
    <h4> Give your crypto trading The Power of Ai</h4><br/>
    <h3>We value our community'<s> </s> feedback.</h3>

{% if latest_question_list %}
{% for question in latest_question_list %}
<div class ="card-mb-3" style="padding: 20px;">
    <div class ="card-body">
        <h3>-- {{ question.question_text }}</h3>

        <a href ="{% url 'detail' question.id %}" class ="btn btn-secondary pancakeswap disabled">Vote Now</a>
        <a href ="{% url 'results' question.id %}" class ="btn btn-secondary pancakeswap">Results</a>
    </div>
</div>
{% endfor %}
{% else %}

<p>No polls available</p>

{% endif %}

</div>
</body>
{% endblock %}
</html>